$mobileWidth: 800px;

.app-category-hero-root {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 30px;
    min-height: 250px;
    box-sizing: border-box;
}

.category-hero-eyebrow {
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 10px;
}

.category-hero-header-background {
    z-index: 1;
    position: absolute;
    background-position: center;
    background-size: cover;
    pointer-events: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.category-hero-headerText {
    margin: 0;
    font-size: 54px;
    line-height: 1;
    @media only screen and (max-width: $mobileWidth) {
        font-size: 36px;
        line-height: 1.25;
    }
}

.category-hero-descriptionText {
    font-size: 18px;
    line-height: 1.25;
    @media only screen and (max-width: $mobileWidth) {
        font-size: 16px;
        line-height: 1.25;
    }
}

.category-hero-content {
    width: 100%;
    color: white;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .category-hero-header-description-container {
        display: flex;
        align-items: center;

        .category-hero-headerText-container {
            padding-right: 8px;
            width: 50%;
        }
        .category-hero-descriptionText {
            padding-left: 8px;
            width: 50%;
        }

        @media only screen and (max-width: $mobileWidth) {
            flex-direction: column;
            .category-hero-headerText-container {
                padding-right: 0;
                width: 100%;
            }
            .category-hero-descriptionText {
                padding-left: 0;
                width: 100%;
            }
        }
    }
}

.category-hero-underline {
    background-color: white;
    width: 50px;
    height: 4px;
    margin: 32px 0;
}
